/*  ALL THE CSS IN HERE IS FOR PHONE */
body {
    margin: .25rem;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    text-align: center;
    align-items: center;
}

h1{
    display: inline-block;
    color: black;
    margin-bottom: .1rem;
    align-items: center;
}

.wrapper {
    display: block;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    text-align: center;
    list-style: none;
}
.pageHeader-Large {
    display: none;
}
nav li {
    margin-top: 2rem;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
    /* border: orangered solid; */
}
ul {
    padding: 0;
    /* border: orangered solid; */
}
.main-image img {
    display: inline-block;
    margin: 1rem;
    width: 60%;
}

.namePortfolio {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

.projectsList img {
    display: block;
    width: 100%;
    margin: .25eem;
}

p img {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contact h3 {
    margin-top: 8rem;
    margin-bottom: 2rem;
}
footer {
    margin-top: 4rem;
}
.footer-medium {
    display: none;        
}
.right {
    float: right;
    margin-right: .5em;
    margin-bottom: 2em;
    font-weight: bold;
}
.left {
    float: left;
    margin-left: .5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
/* Phone ends here */

/* This starts your rules for iPad */
@media screen and (min-width: 768px) {
    .pageHeader-Large {
        display: none;
    }
    nav ul li {
        margin-top: 2rem;
        display: inline;
        padding: 1.5rem;
        align-items: center;
        text-align: center;
        font-weight: bold;
        width: 100%;
    }
    .top-image-aboutMe {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        margin: 2rem 1rem 0 1rem;
        font-size: 1.4rem;
    }
    .top-image-aboutMe img {
        width: 100%;
    }
    .top-image-aboutMe p {
        width: 100%;
    }
    .projectsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .projectsList div {
        width: 40%;
    } 
    .contact h3 {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
    .footer-small {
        display: none;        
    }
    .footer-medium {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
}
/* iPad ends here */

/* This starts your rules for desktop/laptop */
@media screen and (min-width: 1024px) {
    .pageHeader-Large {
        width: 91%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        margin-left: 3rem;
    }
    .pageHeader-Small {
        display: none;
    }
    ul {
        padding: 0;
    }
    .top-image-aboutMe {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        margin: 2rem 1rem 0 3rem;
        font-size: 1.4rem;
        /* width: 30%; */
    }
    .projectsList {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .projectsList div {
        width: 32%;
    }
    hr {
        color: transparent;
    }
    .footer-small {
        display: none;        
    }
    .footer-medium {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
}
/* Desktop/laptop rules end here */