/*  ALL THE CSS IN HERE IS FOR PHONE */
main {
    background-color: whitesmoke;
}

body {
    margin: .25rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
}

h1 {
    display: inline-block;
    color: black;
    margin-bottom: .1rem;
    align-items: center;
}

.wrapper {
    display: block;
    background-color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    text-align: center;
    list-style: none;
}

.pageHeader-Large {
    display: none;
}

nav li {
    margin-top: 2rem;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

ul {
    padding: 0;
}

.main-image img {
    display: inline-block;
    margin: 1rem;
    width: 60%;
}

.namePortfolio {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

#portfolio {
    display: none;
}

.projectsList img {
    display: block;
    width: 100%;
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 3px;
    display: inline-block;
    background-color: #36ACD0;
    color: black;
    padding: 5px 15px;
    margin: 5px;
}

p img {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact h3 {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

footer {
    margin-top: 4rem;
    border-top: rgba(128, 126, 126, 0.445) solid;
}

.footer-medium {
    display: none;
}

.footer-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: orange;
}

/* Phone ends here */

/* This starts your rules for iPad */
@media screen and (min-width: 768px) {
    .pageHeader-Large {
        display: none;
    }

    nav ul li {
        margin-top: 2rem;
        display: inline;
        padding: 1.5rem;
        align-items: center;
        text-align: center;
        font-weight: bold;
        width: 100%;
    }

    .top-image-aboutMe {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        margin: 2rem 1rem 0 1rem;
        font-size: 1.4rem;
    }

    .top-image-aboutMe img {
        width: 100%;
    }

    .top-image-aboutMe p {
        width: 100%;
    }

    .projectsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 8px;
    }

    .projectsList div {
        align-items: center;
        width: 40%;
    }

    .contact h3 {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .footer-small {
        display: none;
    }

    .footer-medium {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-weight: bolder;
    }
}

/* iPad ends here */

/* This starts your rules for desktop/laptop */

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .pageHeader-Large {
        width: 91%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        margin-left: 3rem;
    }

    .pageHeader-Small {
        display: none;
    }

    ul {
        padding: 0;
    }

    .top-image-aboutMe {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        margin: 2rem 1rem 0 3rem;
        font-size: 1.4rem;
    }

    .projectsList {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .projectsList div {
        width: 32%;
    }

    .footer-small {
        display: none;
    }

    .footer-medium {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-weight: bolder;
    }
}

/* Desktop / laptop rules ends here */